*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    min-width: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

li, a, button {
    font-family: 'Open Sans';
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}


.logo {
    cursor: pointer;
    margin-right: auto;
    width: 200px;
    height: 100px;

}

.links {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #949494;
}

.main {
    height: 100vh;
    width: 100%;
    padding-top: 80px;
    background: url("bildes/e63.jpg");
    background-size: cover;
}

.text {

    color:#ffffff;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 300px;
    text-align: right;
}

.main-text {
    color: #d9d9d9;
    text-shadow: 2px 2px #000000;
    font-size: 30px;
    padding-bottom: 80px;
}

.description {
    text-shadow: 2px 2px #000000;
    color:#d9d9d9;
    font-size: 25px;
    padding-bottom: 80px;
}


.price {
    text-shadow: 2px 2px #000000;
    font-size: 25px;
    color:#d9d9d9;
}

footer {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
}


table {
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  body {
    font-family: sans-serif;
}

/*QUIZ*/

.c {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.que {
    margin-bottom: 20px;
}

.ans {
    margin-bottom: 10px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.r {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}


h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  /* Apļa laukuma un rādiusa aprēķināšana */

  #aplisForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  #aplisForm label {
    margin-bottom: 5px;
  }

  #aplisForm input[type="number"] {
    width: 150px;
    padding: 5px;
    border: 1px solid #ccc;
  }

  #aplisForm button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }

  #aplisRezultats {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }

  /* Zīmēšana */

  #zimejumsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  #zimejumsForm label {
    margin-bottom: 5px;
  }

  #zimejumsForm input[type="color"] {
    width: 150px;
    padding: 5px;
  }

  #zimejumsForm input[type="number"] {
    width: 150px;
    padding: 5px;
    border: 1px solid #ccc;
  }

  #zimejumsForm button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }

  /* Taisnleņķa trijstūris */

  #trijsturisForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  #trijsturisForm label {
    margin-bottom: 5px;
  }

  #trijsturisForm input[type="number"] {
    width: 150px;
    padding: 5px;
    border: 1px solid #ccc;
  }

  #trijsturisForm button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }

  #trijsturisRezultats {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }